type: "MARKDOWN_NOTE"
folder: "d25547e3a253e8df9cf9"
title: "Welcome to Boostnote!"
content: '''
  # Welcome to Boostnote! 
  ### _Click to edit this note._
  
  あいうえお
  
'''
tags: []
isStarred: false
isTrashed: false
createdAt: "2017-08-30T04:31:24.810Z"
updatedAt: "2017-08-30T04:31:49.499Z"
